<h2 mat-dialog-title>{{ i18n.t('profile.passwordTitle') }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="password-dialog">
    <mat-form-field appearance="outline">
      <mat-label>{{ i18n.t('profile.currentPassword') }}</mat-label>
      <input
        matInput
        formControlName="currentPassword"
        type="password"
        autocomplete="current-password"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ i18n.t('profile.newPassword') }}</mat-label>
      <input matInput formControlName="newPassword" type="password" autocomplete="new-password" />
      @if (form.controls.newPassword.hasError('minlength')) {
        <mat-error>{{ i18n.t('validation.minPassword') }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ i18n.t('profile.confirmPassword') }}</mat-label>
      <input
        matInput
        formControlName="confirmPassword"
        type="password"
        autocomplete="new-password"
      />
      @if (form.hasError('passwordMismatch')) {
        <mat-error>{{ i18n.t('profile.passwordMismatch') }}</mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close type="button">{{ i18n.t('actions.cancel') }}</button>
  <button mat-flat-button type="button" (click)="save()">{{ i18n.t('actions.save') }}</button>
</mat-dialog-actions>
